---
import StationManager from "../components/StationManager";
import Layout from "../layouts/Layout.astro";
import { fetchStations } from "../utils/api";

const stations = await fetchStations();
---

<Layout title="lahijunat.live | Lähijunien aikataulut reaaliaikaisesti">
  <div class="py-4 sm:py-8">
    <StationManager client:load stations={stations} />
  </div>
</Layout>
